.section

    +ele(divided)
        display: flex
        justify-content: space-between
    
    +ele(header)
        margin: 0
        color: $primaryColor

    +ele(indented)
        margin-left: 15px
        padding-top: 5px

    +ele(item)
        padding: 10px 0
        border-bottom: $border

        &:last-child
            border-bottom: 0
