$horizontalSpace: 15px
$verticalSpace: 25px
$infoSpace: 10px 

.dashboard

    +ele(arrows)
        display: flex
        flex-direction: column
        justify-content: space-around

    +ele(icon)
        display: flex
        align-items: center

    +ele(item)
        display: flex
        margin: $verticalSpace 0
        padding-bottom: $verticalSpace
        border-bottom: $border

        &:last-child
            margin-bottom: 0

    +ele(info)
        display: flex
        flex-direction: column
        justify-content: space-between
        min-width: 220px
        margin-right: $horizontalSpace

    +ele(name)
        margin: 0 0 $infoSpace

    +ele(photo)
        display: flex
        margin-right: $horizontalSpace

    +ele(visibility)
        margin-bottom: $infoSpace

    +ele(wrapper)
        display: block