.project

    +ele(error)
        text-align: center

    +ele(half)
        flex: 1 0
        width: 700px

        &:first-child
            padding-right: 20px
            border-right: $border

        &:last-child
            padding-left: 20px

    +ele(half-header)
        text-align: center
        font-style: italic
        margin: 0 0 20px

    +ele(main)
        position: relative
        display: flex
        min-width: 1150px

    +wide()

        +ele(half)
            width: auto
            min-width: 500px

            &:first-child
                padding-right: 0

        +ele(main)
            min-width: 850px

    +medium()

        +ele(half)

            &:first-child
                border-right: 0

            &:last-child
                display: none

        +ele(main)
            width: $widthMedium
            min-width: initial
            margin: 25px auto 0


    +small()

        +ele(half)
            min-width: initial

        +ele(main)
            width: $widthSmall

    +tiny()

        +ele(main)
            width: $widthTiny
            
