.text-block
    border-bottom: $border
    padding-bottom: 5px

    +ele(control)
        display: flex
        margin-bottom: 5px
        margin-right: 2px

    +ele(control-buttons)
        display: flex
        flex: 1 0
        justify-content: flex-end
        align-items: center
        align-content: center

    +ele(icon)
        display: flex
        align-items: center
        cursor: pointer
        margin-right: 7px

        &:last-child
            margin-right: 0

        & svg
            height: 12px
            width: 12px

        & svg g
            fill: $black

    +ele(md-message)
        font-size: .7em
        text-align: right
        margin-top: 2px
        