$white: rgb(255, 255, 255)
$offWhite: rgb(247, 249, 249)
$lightGrey: rgb(230, 230, 230)
$grey: rgb(200, 200, 200)
$darkGrey: rgc(150, 150, 150)
$black: rgb(90, 90, 90)

$transBlack: rgba(90, 90, 90, 0.6)

$blue: rgb(67, 144, 173)
$lightBlue: lighten($blue, 25)
$darkBlue: darken($blue, 25)

$green: rgb(73, 201, 101)
$darkGreen: darken($green, 10)

$red: rgb(244, 68, 54)
$darkRed: darken($red, 10)

$lime: rgb(139, 195, 74)

$primaryColor: $blue
$primaryColorLight: lighten($primaryColor, 10)
$primaryColorDark: darken($primaryColor, 10)

.greyDot
    background-color: $grey

.greenDot
    background-color: $green
    box-shadow: 0px 0px 5px $green

.limeDot
    background-color: $lime
    box-shadow: 0px 0px 5px $lime

.redDot
    background-color: $red
    box-shadow: 0px 0px 5px $red
